annotated-types==0.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
idna==3.10
loguru==0.7.3
peewee==3.17.9
phonenumbers==8.13.55
pyaes==1.6.1
pyasn1==0.6.1
pydantic==2.10.6
pydantic-settings==2.8.0
pydantic_core==2.27.2
python-dotenv==1.0.1
redis==5.2.1
requests==2.32.3
rsa==4.9
setuptools==75.8.1
Telethon==1.39.0
typing_extensions==4.12.2
urllib3==2.3.0
wheel==0.45.1
win32_setctime==1.2.0
